<div class="card">
    <div class="card-header">
      Welcome to deblanck.dk
    </div>
    <div class="card-body">
      <div class="container-fluid">
        <div class="text-center padding-bottom:50px">
            This site is my playground for discovering angular2, git front-end testing and much more.
        </div>
        <div class="text-center">Developed by:</div>
        <div class="text-center">
          <h3>Morten de Blanck Kristiansen</h3>
        </div>
    </div>
        
        <div class="text-center">
            GitHub: 
            <a href="https://github.com/olebolesparabol/angular_homepage">https://github.com/olebolesparabol/angular_homepage</a>
        </div>
        <div class="text-center">
            LinkedIn: 
            <a href="http://www.linkedin.com/in/morten-kristiansen-70727432">www.linkedin.com/in/morten-kristiansen-70727432/</a>
        </div>
    </div>
  </div>